docs/*
imgs/*
README.txt
*.o
*.elf
*.hex
*~
*_old.c
*_old.h
_*
Acquisition_Platform/host_build/*
!Acquisition_Platform/host_build/Makefile
Acquisition_Platform/firmware_build/*
!Acquisition_Platform/firmware_build/Makefile
