references/*
imgs/*
README.txt
!Acquisition_Platform/src/host/kalman_filter/README.txt
*.o
*.elf
*.hex
*~
*_old.c
*_old.h
_*
Acquisition_Platform/src/firmware/kalman_filter
Acquisition_Platform/host_build/*
!Acquisition_Platform/host_build/Makefile
Acquisition_Platform/firmware_build/*
!Acquisition_Platform/firmware_build/Makefile
*.toc
*.bcf
*.aux
*.run.xml
*.out
*.log
*.bbl
*.blg
docs/thesis/pseudocode/*
